@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
	--background-color: #19a2ae;
	--primary-color: #6a6f81;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	font-family: "Kumbh Sans", sans-serif;
}
body {
  display: flex;
  justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: var(--background-color);
}
section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
  margin: auto;
	width: 300px;
  height: 400px;
	border-radius: 15px;
	background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 10px var(--primary-color);
}

.info {
	margin: 25px;
}

.social {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-top: solid 1px var(--primary-color);
	height: 20%;
  
}

  .profile-img {
    width: 50%;
    border-radius: 100%;
    margin-bottom: 25px;
  }
  
  .name,
  .quantity {
    font-weight: 700;
  }

  .name {
    font-size: 1.3em;
    margin-bottom: 15px;
  }

  .age {
    color: var(--primary-color);
  }

  .location,
  .label {
    font-size: .85em;
    color: var(--primary-color);
  }